
:root {
    --slate-200: rgb(226 232 240);
    --slate-400: rgb(148 163 184);
    --slate-500: rgb(100 116 139);
    --slate-900:   rgb(15 23 42); 
}

* {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    list-style: none;
}

.background {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    line-height: 1.625; 
    color: var(--slate-400);
    background-color: var(--slate-900);
}

.main-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    padding-top: 3rem;
    padding-bottom: 3rem; 
    max-width: 1280px; 
    min-height: 100vh; 
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;


    @media (min-width: 768px) { 
        padding-left: 3rem;
        padding-right: 3rem; 
        padding-top: 4rem;
        padding-bottom: 4rem; 
    }
    @media (min-width: 1024px) { 
        padding-top: 0;
        padding-bottom: 0; 
    }
}

.main-container {
    @media (min-width: 1024px) { 
        display: flex; 
        gap: 1rem; 
        justify-content: space-between; 
    }
}

.header {
    @media (min-width: 1024px) { 
        display: flex; 
        position: sticky; 
        top: 0; 
        padding-top: 6rem;
        padding-bottom: 6rem; 
        flex-direction: column; 
        justify-content: space-between; 
        max-height: 100vh; 
        width: 48%;
    }
}

.heading {
    color: var(--slate-200);
    font-size: 2.25rem;
    line-height: 2.5rem; 
    font-weight: 700; 
    letter-spacing: -0.025em; 

    @media (min-width: 640px) { 
        font-size: 3rem;
        line-height: 1; 
    }
}

.subheading {
    margin-top: 0.75rem; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 500; 
    letter-spacing: -0.025em; 
    color: var(--slate-200);

    @media (min-width: 640px) { 
        font-size: 1.25rem;
        line-height: 1.75rem; 
    }
}

.heading-text {
    margin-top: 1rem; 
    max-width: 20rem; 
    line-height: 1.5; 
}

.nav {
    display: none; 

    @media (min-width: 1024px) { 
        display: block; 
    }
}

.nav-links {
    margin-top: 4rem; 
    width: max-content; 
}

.nav-link {
    display: flex; 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    align-items: center; 
}

.page-content {
    padding-top: 6rem; 

    @media (min-width: 1024px) { 
        padding-top: 6rem;
        padding-bottom: 6rem; 
        width: 52%;
    }
}

.content-section {
    margin-bottom: 4rem; 
    scroll-margin-top: 4rem; 

    @media (min-width: 768px) { 
        margin-bottom: 6rem; 
    }

    @media (min-width: 1024px) { 
        margin-bottom: 9rem; 
        scroll-margin-top: 6rem; 
    }
}

.section-heading-container {
    position: sticky; 
    top: 0; 
    z-index: 20; 
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    margin-bottom: 1rem; 
    margin-left: -1.5rem;
    margin-right: -1.5rem; 
    width: 100vw; 
    background-color: var(--slate-900);


    @media (min-width: 768px) { 
        padding-left: 3rem;
        padding-right: 3rem; 
        margin-left: -3rem;
        margin-right: -3rem; 
    }
    @media (min-width: 1024px) { 
        position: relative; 
        top: auto; 
        padding-top: 0;
        padding-bottom: 0; 
        padding-left: 0;
        padding-right: 0; 
        width: 100%; 
        opacity: 0; 
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0; 
    }
}

.section-heading {
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 700; 
    letter-spacing: 0.1em; 
    text-transform: uppercase; 

    @media (min-width: 1024px) { 
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0; 
    }
}

.section-text {
    margin-bottom: 1rem;
}

.card-container {
    display: grid;
    position: relative; 
    padding-bottom: 0.25rem; 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 

    @media (min-width: 640px) { 
        grid-template-columns: repeat(8, minmax(0, 1fr)); 
        gap: 2rem; 
    }
    @media (min-width: 768px) { 
        gap: 1rem; 
    }
    @media (min-width: 1024px) { 
    }

}

/* Not Used */
.card-hover {
    display: none; 
    position: absolute; 
    top: -1rem;
    bottom: -1rem; 
    right: -1rem;
    left: -1rem; 
    z-index: 0; 
    border-radius: 0.375rem; 
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 

    @media (min-width: 1024px) { 
        display: block; 
        right: -1.5rem;
        left: -1.5rem; 
    }

}

.card-header {
    z-index: 10; 
    margin-top: 0.25rem; 
    margin-bottom: 0.5rem; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 600; 
    letter-spacing: 0.025em; 
    text-transform: uppercase; 

    @media (min-width: 640px) { 
        grid-column: span 2 / span 2; 
    }
}

.card-content {
    z-index: 10; 

    @media (min-width: 640px) { 
        grid-column: span 6 / span 6; 
    }
}