---
layout: layouts/base.njk
---

<article class="page">
  {% if title %}
  <header class="page-header">
    <h1>{{ title }}</h1>
    {% if subtitle %}
    <p class="subtitle">{{ subtitle }}</p>
    {% endif %}
  </header>
  {% endif %}
  
  <div class="page-content">
    {{ content | safe }}
  </div>
</article>