{% macro heroTitle(title, subtitle) %}
<div class="hero-title_section">
  <div class="hero-title_title">
    <div class="hero-title_title-seqment">{{ title }}</div>
    <div class="hero-title_title-seqment">{{ title }}</div>
    <div class="hero-title_title-seqment">{{ title }}</div>
    <div class="hero-title_title-seqment">{{ title }}</div>
    <div class="hero-title_title-seqment">{{ title }}</div>
    <div class="hero-title_title-seqment">{{ title }}</div>
    <div class="hero-title_title-seqment">{{ title }}</div>
    <div class="hero-title_title-seqment">{{ title }}</div>
    <div class="hero-title_title-seqment">{{ title }}</div>
  </div>
  <h2 class="hero-title_subtitle">{{ subtitle }}</h2>
</div>
{% endmacro %}