---
layout: layouts/base.njk
title: Page Not Found — Michael Aitken
description: Page not found.
permalink: /404.html
---

{# --- IMPORTS --- #}
{% from "components/hero-title/hero-title.njk" import heroTitle %}

{# --- Background --- #}
<div class="bg-wrapper">
  <div class="bg-dots"></div>
  <div class="bg-vignette"></div>
</div>

{# --- Main Content --- #}
<main>

  <div class="index_container">
    {{ heroTitle("- 404 -", "Page Not Found") }}

    <a class="button-design" style="margin-top: 5rem;" href="https://www.michaelaitken.com">
      <span>Return Home</span>
    </a>
  </div>
</main>