name: Deploy to Firebase Hosting (dev)

on:
  push:
    branches:
      - dev

jobs:
  build_and_deploy_dev:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm ci && npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MICHAEL_AITKEN_WEBSITE }}
          projectId: michael-aitken-website
          channelId: live
          target: dev
